
#asemic {
  display: flex;
  align-items: center;
  justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


#asemic {
  --bg:#222;
  --bg2:#000;
  --fg:#eee;
  --fg2:#888;

  background: var(--bg2);
}

#asemic #game {
  background: var(--bg);
  color: var(--fg);
  border:1px solid var(--fg2);
  font-family:'Roboto Mono', monospace;
  font-size: 15px;
}

#asemic #game header{
  border-bottom: 1px solid var(--fg2);
  display: flex;
  flex-direction:row;
}
#asemic #game header * {
    padding: 2px;
}

#asemic #game header #title {
  flex-grow: 1;
}

#asemic #game header #author {
    border-left: 1px solid var(--fg2);
}
#asemic #game header #author:before {
  content:'by ';
  color: var(--fg2);
}

#asemic #game main {
    background: var(--bg2);

  display: flex;
  justify-content:center;

}
#asemic #scene{
  background: var(--bg);
  padding:2px;
  margin:0;
}

#asemic #scene span{
  display: inline-block;
  width:9px;
  height: 18px;
}
