
* {
	box-sizing: border-box;
}
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
	overflow: hidden;
}

body, nav>button, #export>button, #ace-editor
{
	font-family:'Roboto Mono', monospace;
  font-size: 13pt;
}


nav {
	background: salmon;
	top:0;
	left: 0;
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: center;
}


button,
.file-input {
	display: inline-block;
	padding: .2em 0;
	background: salmon;
	color: linen;
	border:1px solid linen;
	border-radius:5em;
	margin: .5em .25em;
  height: 2em;
	text-align: center;
	width:10em;
}


button:hover,
.file-input:hover{
	border-width: 2px;
	font-weight: bold;
}

button:disabled,
button:active,
.file-input:active
{
	background: linen;
	color:salmon;
		font-weight: bold;

}

.error {
	background: linen;
	color: salmon;
	width:100%;
	padding: 1em;
	border-bottom:2px solid;
	white-space: pre;

}

#app{
	display: flex;
	flex-direction: column;
	
}
#code, #test, #export {
	background: slategray;
	flex-grow: 1;
}

#code>.container {
	height: 100%;

}


#code #ace-editor {
	position: relative;
	height: calc(100% - 3em);
	top:0;
	bottom:0;
	left: 0;
	right: 0;
}

#code footer {
	font-size: 9pt;
	height: 4em;
	display: flex;
	align-items: center;
white-space: nowrap;
  overflow-x:scroll;
}

#code footer > * {
	margin: 0 1em;
}

#code footer >*:first-child {
	margin-right:auto;
}

#code footer input[type="file"] {
	position: absolute;
	top: -1000px;
}


#export {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#export button {
	margin:.5em;
	width: 200px;
	height: 50px;
}
