
@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('font/ttf/iosevka-fixed-ss08-extended.ttf') format('truetype'), url('font/woff2/iosevka-fixed-ss08-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('font/ttf/iosevka-fixed-ss08ttf') format('truetype'), url('font/woff2/iosevka-fixed-ss08-extendedbold.woff2') format('woff2');
}
