
#mote {
  display: flex;
  align-items: center;
  justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


#mote {

  background: var(--bg2);
}

#mote #game {
  background: var(--bg);
  color: var(--fg);
  border:1px solid var(--fg2);
  font-family:'Roboto Mono', monospace;
  font-size: 15px;
}

#mote #game header{
  border-bottom: 1px solid var(--fg2);
  display: flex;
  flex-direction:row;
}
#mote #game header * {
    padding: 2px;
}

#mote #game header #title {
  flex-grow: 1;
}

#mote #game header #author {
    border-left: 1px solid var(--fg2);
}

#mote #game[data-localization=en] header #author:before {
  content:'by ';
}

#mote #game[data-localization=fr] header #author:before {
  content:'par ';
}

#mote #game header #author:before {
  color: var(--fg2);
}

#mote #game main {
    background: var(--bg2);

  display: flex;
  justify-content:center;

}
#mote #scene{
  background: var(--bg);
  padding:2px;
  margin:0;
}

#mote #scene span{
  display: inline-block;
  width:9px;
  height: 18px;
}
